.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container label {
    border-radius: 50px;
    border: 2px solid black;
    float: left;
}

.container label p {
    color: black;
    font-size: normal;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container label img {
    width: 100px;
    height: 100px;
}