* {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 2px;
    overflow: auto;
}

.container {
    position: absolute;
}

.container.one {
    left: 2.5px;
}

.container.two {
    left: 25%;
}

.container.three { 
    left: 50%;
}

.container.four {
    left: 75%;
}

.container.five {
    top: 160%;
    left: 2.5px;
}
