.flag {
  text-align: center;
  margin-left: 39%;
  margin-right: 61%;
}

.btn-switch-flag {
  width: 100px;
  height: 100px;
  margin-top: 8.8%;
  margin-left: 46.8%;
  margin-right: 46%;
  padding: 0;
  border: 2px black solid;
  border-radius: 100px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin: 0;
}

#bad-image {
  text-align: center;
}
#flagpg-link {
  width: 100px;
  display: inline-block;
  padding-left: 0;
  margin-left: 0;
  position: absolute;
  left: 46.58%;
  top: 68%;
  text-decoration: none;
}


* {
  color: purple;
}

html {
  background-image: linear-gradient(90deg, #ffffff, #000000);
}

#intro {
  width: 50%;
  text-align: center;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}